* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: Avenir, AvenirNext, 'Open Sans', sans-serif;
  color: #131313;
  line-height: 1.6;
}

.site-head {
  position: relative;
  display: table;
  width: 100%;
  height: 500px;
  margin-bottom: 6rem;
  background-size: cover;
}

.header-container{
  position:fixed;
  z-index: 100;
  width: 100%;
  background: #e9e4dbff;
}

div {
  display: block;
  unicode-bidi: isolate;
}

@media screen and (max-width: 1000px) {
  ul.title li a {
    text-align: center;
    float: none;
  }
  .logo {
    display: block;
  }
}


@media screen and (max-width: 600px) {
  .header-container {
    background-image: none;
  }
  ul.title li a {
    text-align: center;
    float: none;
  }
  .about_as, .about_cz {
    width: 100%;
    margin: 0;
  }
  .logo {
    display: none !important;
  }
}

.header-container .logo {
  left: -20px;
  right: 0;
}

.header-container ul{
  text-align: center;
  padding: 0rem;
  margin: 0rem;
  list-style-type: none;
}

.header-container ul li{
  display:inline-block;
  padding: 10px;
}

.header-container ul li.logo{
  float: left;
}

.logo {
  width: 5px;
  height: 5px;
}

.homepage{
  font-size: 2rem;
  color: #131313;
  text-transform: uppercase;
  padding: 5px;
  align-items: center;
  left: 0px;
  right: 0;
}

.about-page{
  position: fixed;
  padding: 5px;
  letter-spacing: 1px;
  font-family: 'lobster', cursive;
  font-size: 0px;
  top: 50px;
  width: 100%;
  margin: auto;
  align-items: center;
  left: 0;
  right: 0;
  background-color: #e9e4dbff;
  border-bottom: 1px solid #131313;
}

.about_cz, .about_as {
  align-items: center;
  margin: 0 10vw;
  padding: 5px 10px;
  color: #131313;
  font-size: 1rem;
  display: inline-block;
}

.header-container ul a {
  text-decoration: none;
}

a:webkit-any-link {
  cursor: pointer;
}

li a:hover {
  background-color: #e9e4dbff;
  color: #e96a64ff;
}