* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: Avenir, AvenirNext, 'Open Sans', sans-serif;
  color: #131313;
  line-height: 1.6;
}


.site-head {
  position: relative;
  display: table;
  width: 100%;
  height: 10px;
  margin-bottom: 6rem;
  background-size: cover;
}

.header-container{
  position:fixed;
  z-index: 100; /*keep header on top of other elements*/
  width: 100%;
  background: #e9e4dbff;
  
}


@media screen and (max-width: 800px) {
  .about_page .about_as, .about_cz {
    align-items: center;
    margin: 0 20vw;
    display: inline-block;
  }
  .logo {
    display: none !important;
  }
}
/*^ header for smaller screen*/


.site-head ul{
  display: block;
  padding: 10px;
  text-align: center;
  width: 100%;
}
/*^ header ul list, to make the list horizontal and remove default padding and margin*/


.logo {
  float: left;
}
/*^ make the logo float to the left and set size*/

.homepage{
  font-size: 2rem;
  color: #131313;
  text-transform: uppercase;
}
/*^ setting for site title*/

.about-page{
  margin-top: 5px;
  letter-spacing: 1px;
  font-family: 'lobster', cursive;
  width: 100%;
}
/* overall setting for the two about pages*/

.about_cz, .about_as {
  display: inline-block;
  padding-bottom: 10px;
  color: #131313;
  font-size: 1rem;
  padding: 0 10vw;
}
/*setting for the links and type setting for the Navigation menu*/

.header-container ul a {
  text-decoration: none;
}
/*^ remove underline from links*/

a:webkit-any-link {
  cursor: pointer;
}
/*^ make the cursor a pointer when hovering over links*/

li a:hover {
  background-color: transparent;
  color: #e96a64ff;
}
/*^ hover effect for the links in the navigation menu*/

.page_name {
  display:block;
  text-align: center;
  font-size: 22px;
  color: #131313;
  margin-top: 8vw;
  padding-top: 4vw;
}

.content{
  display:block;
  margin: 2vw;
}

.content h2{
  font-size: 22px;
  margin-top: 4vw;
}
/*^ setting for the content*/

.content1 h2{
  margin-top: 2vw;
}

.content p {
  font-size: 16px;
}