* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  font-family: Avenir, AvenirNext, 'Open Sans', sans-serif;
  color: #131313;
  line-height: 1.6;
}

.site-head {
  position: relative;
  display: table;
  width: 100%;
  height: 500px;
  margin-bottom: 6rem;
  background-size: cover;
}

.header-container{
  position:fixed;
  z-index: 100; /*keep header on top of other elements*/
  width: 100%;
  background: #e9e4dbff;
}


@media screen and (max-width: 1000px) {
  ul.title li a {
    text-align: center;
    float: none;
  }
  .logo {
    display: block;
  }
}
/*^ header for larger screen*/

@media screen and (max-width: 600px) {
  .header-container {
    background-image: none;
  }
  ul.title li a {
    text-align: center;
    float: none;
  }
  .about_as, .about_cz {
    width: 100%;
    margin: 0;
  }
  .logo {
    display: none !important;
  }
}
/*^ header for smaller screen*/

.header-container .logo {
  left: -20px;
  right: 0;
}
/*^ placement for logo, but logo not showing up*/

.header-container ul{
  text-align: center;
  padding: 0rem;
  margin: 0rem;
}
/*^ header ul list, to make the list horizontal and remove default padding and margin*/

.header-container ul li{
  display:inline-block;
  padding: 10px;
}
/*^ header ul list items, to make the list items horizontal and add padding*/


.logo {
  float: left;
  width: 5px;
  height: 5px;
}
/*^ make the logo float to the left and set size*/

.homepage{
  font-size: 2rem;
  color: #131313;
  text-transform: uppercase;
  padding: 5px;
  align-items: center;
  left: 0;
  right: 0;
}
/*^ setting for site title*/

.about-page{
  position: fixed;
  padding: 5px;
  letter-spacing: 1px;
  font-family: 'lobster', cursive;
  font-size: 0px;
  top: 50px;
  width: 100%;
  margin: auto;
  align-items: center;
  left: 0;
  right: 0;
  background-color: #e9e4dbff;
  border-bottom: 1px solid #131313;
}
/* overall setting for the two about pages*/

.about_cz, .about_as {
  align-items: center;
  margin: 0 10vw;
  padding: 5px 10px;
  color: #131313;
  font-size: 1rem;
  display: inline-block;
}
/*setting for the links and type setting for the Navigation menu*/

.header-container ul a {
  text-decoration: none;
}
/*^ remove underline from links*/

a:webkit-any-link {
  cursor: pointer;
}
/*^ make the cursor a pointer when hovering over links*/

li a:hover {
  background-color: #e9e4dbff;
  color: #e96a64ff;
}
/*^ hover effect for the links in the navigation menu*/